@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0 position-relative m-0">
    <!-- Background Image -->
    <img src="~/images/bg-image.jpeg" class="w-100 vh-100 object-fit-cover" style="object-fit: cover;" alt="bg-image" />

    <!-- Dark Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>

    <!-- Centered Text -->
    <div class="position-absolute top-50 start-50 translate-middle text-center text-light px-3">
        <h1 class="display-5 fw-bold font-playfair-display">Fast, flavorful, unforgettable</h1>
        <p class="lead">Your next favorite dish is just around the corner</p>
    </div>
</div>
